.roboto {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

body {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 10px;
    /* add spacing between items */
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 40px 0 40px;
}

footer {
    text-align: center;
    background-color: #1F2937;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

.blockone {
    display: inline-flex;
    background-color: #1F2937;
    padding: 0 80px 0 80px;
    width: 100%;
    justify-content:center

}

#awesome {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8
}

.left {
    display: inline-flex;
    width: 20%;
    height: 200px;
    margin: 50px 100px 50px 100px;
}

.right {
    height: 200px;
    width: 30%;
    background-color: gray;
    margin: 50px 100px 50px 100px;
    display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}