.roboto {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

body {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 10px;
    /* add spacing between items */
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 40px 0 40px;
}

footer {
    text-align: center;
    background-color: #1F2937;
    padding: 30px;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

.blockone {
    display: inline-flex;
    background-color: #1F2937;
    padding: 0 80px 0 80px;
    width: 100%;
    justify-content:center

}

#awesome {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8
}

.subtext{
    color: #E5E7EB;
    font-size: 18px;
}
#button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
}

.left {
    display: inline-flex;
    width: 20%;
    height: 200px;
    margin: 50px 100px 50px 100px;
    flex-direction: column;
}

.right {
    height: 200px;
    width: 30%;
    background-color: gray;
    margin: 50px 100px 50px 100px;
    display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.container{
    display:flex;
    justify-content: center;
    gap: 40px;
}

.image{
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: blue;
    display: flex;
}

.title{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.info{
    margin: 50px;
}

.blockthree{
    background-color: #E5E7EB;
    padding: 150px 300px;
}

.quote{
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    color: #1F2937;
}

.quote_guy{
    text-align: right;
}

.blue{
    background-color: #3882f6;
    margin: 100px;
    height: 150px;
}

#blue_btn{
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border-color: white;
    border: #E5E7EB;
    border: 2px solid;
    width: auto;
}

.blockfour{
    display:flex;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}